.CardImg {
  width: 200px;
  height: 200px;
}
.Card {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.carte {
  margin: 10px;
}
